<%- include('header.ejs') %>

<body>
  <div class="container-scroller">
   
    <!-- partial:partials/_navbar.html -->
    <%- include('admin/adminNavbar.ejs') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include('admin/adminSidebar.ejs') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span>
              Dashboard
            </h3>
           
          </div>
        
          <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-primary card-img-holder text-white">
                <div class="card-body">
                  <img
                    src="/assets/images/dashboard/circle.svg"
                    class="card-img-absolute"
                    alt="circle-image"
                  />
                  <h4 class="font-weight-normal mb-3">
                   Total Categories
                    <i class="mdi mdi-seal mdi-48px float-end"></i>
                  </h4>
                  <h2 class="mb-5"><%= courseData?.totalCourses  %></h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div
                class="card bg-gradient-secondary card-img-holder text-white"
              >
                <div class="card-body">
                  <img
                    src="/assets/images/dashboard/circle.svg"
                    class="card-img-absolute"
                    alt="circle-image"
                  />
                  <h4 class="font-weight-normal mb-3">
                    Active Courses
                    <i
                      class="mdi mdi-account-school-outline mdi-48px float-end"
                    ></i>
                  </h4>
                  <h2 class="mb-5"><%= courseData?.totalActiveCourses  %></h2>
                </div>
              </div>
            </div>
           
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                  <img
                    src="/assets/images/dashboard/circle.svg"
                    class="card-img-absolute"
                    alt="circle-image"
                  />
                  <h4 class="font-weight-normal mb-3">
                    Total Courses
                    <i
                      class="mdi mdi-book-education-outline mdi-48px float-end"
                    ></i>
                  </h4>
                  <h2 class="mb-5"><%= courseData?.totalCourses  %></h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <img
                    src="/assets/images/dashboard/circle.svg"
                    class="card-img-absolute"
                    alt="circle-image"
                  />
                  <h4 class="font-weight-normal mb-3">
                    Total Students
                    <i
                      class="mdi mdi-account-supervisor mdi-48px float-end"
                    ></i>
                  </h4>
                  <h2 class="mb-5"><%= courseData?.totalStudents  %></h2>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img
                    src="/assets/images/dashboard/circle.svg"
                    class="card-img-absolute"
                    alt="circle-image"
                  />
                  <h4 class="font-weight-normal mb-3">
                    Total Earning
                    <i
                      class="mdi mdi-account-cash-outline mdi-48px float-end"
                    ></i>
                  </h4>
                  <h2 class="mb-5"><%= earningData?.totalEarning  %></h2>
                </div>
              </div>
            </div>
          </div>

       
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div
            class="d-sm-flex justify-content-center justify-content-sm-between"
          >
            <span
              class="text-muted text-center text-sm-left d-block d-sm-inline-block"
              >Copyright © 2023
              <a href="https://www.bootstrapdash.com/" target="_blank"
                >BootstrapDash</a
              >. All rights reserved.</span
            >
            <span
              class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i
            ></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <%- include('footer.ejs') %>
  <script src="/assets/vendors/js/vendor.bundle.base.js"></script>

</body>
