<%- include('header.ejs') %>
<body>
  <div class="container-scroller">
    <%- include('admin/adminNavbar.ejs') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('admin/adminSidebar.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <h2>Active Courses</h2>
          <h3>Select Course to view and Add Lessons</h3>
          <div class="row">
            <% if (courses && courses.length > 0) { %> <% courses.forEach(course
            => { %>
            <div class="col-md-4 mb-4">
              <div class="card" style="width: 100%">
                <img
                  src="http://127.0.0.1:7000/<%= course.thumbnail %>"
                  alt="Course Thumbnail"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= course.title %></h5>
                  <p class="card-text">
                    Description: <%= course.description.length > 70 ?
                    course.description.slice(0, 70) + '...' : course.description
                    %>
                  </p>
                  <p class="card-text">Category: <%= course.category %></p>
                  <div class="row">
                    <div class="col">
                         <a href="/admin/quiz/create/<%= course._id %>">
                        <button class="btn btn-danger w-100">Add Lessons</button>
                      </a>
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %> <% } else { %>
            <p>No courses available.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
